@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.5);
}

body {
  overflow-x: hidden;
}

.bg_img {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  transition: background 0.7s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.day-bg {
  background: url('background/day.jpg') no-repeat center center/cover;
}

.night-bg {
  background: url('background/night.jpg') no-repeat center center/cover;
}

.search-container {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0,92,155,0.3);
  border-radius: 6px;
}

.search-container label{
  color: rgba(255, 255, 255, 0.6);
}

.input {
  border-radius: 12px;
}



.group {
  display: flex;
  gap: 0px;
  align-items: center;
  margin: 1% 0;
  margin-top: -10px;
}

.group h1 {
  font-size: 25px;
}

.group img {
  width: 60px;
}

.city {
  margin-top: 2rem;
  font-size: 30px;
}

.temp {
  font-size: 50px;
}

.box_container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  backdrop-filter: blur(3px);
}

.box {
  padding: 1.5rem;
  border-radius: 12px;
  background-color: rgba(0,92,155,0.3);
  width: 220px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0px;
  transition: transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box:hover {
  transform: scale(1.05);
}

.hourly-container {
  display:flex;
  justify-content: center; 
}

.hourly-item {
  text-align: center;
  padding: 10px;
  backdrop-filter: blur(2px);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hourly-item img {
  width: 70%;
  margin-left: 0%;
  padding-left: 30%;
  
}

.back-slider{
  justify-content: center;
  display: flex;
  background-color: rgba(0,92,155,0.3);
  border-radius: 12px;
}

@media only screen and (max-width: 730px) {
  .bg_img {
    padding: 2rem 0;
  }

  .box_container {
    flex-direction: column;
  }

}

.slick-slider {
  width: 70vw; /* Ширина слайдера по вашему выбору */
  margin: 0 auto;
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: #fff;
}

.slick-prev:hover,
.slick-next:hover {
  color: #ccc;
}



.rain-animation {
  position:static;
  pointer-events: none;
}

.rain-animation hr {
  width: 50px;
  border-color: transparent;
  border-right-color: rgba(255, 255, 255, 0.5);
  border-right-width: 50px;
  position: absolute;
  bottom: 100%;
  transform-origin: 100% 50%;
  animation-name: rain;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rain {
  from {
    transform: rotate(105deg) translateX(0);
  }
  to {
    transform: rotate(105deg) translateX(calc(100vh + 20px));
  }
}